<h1>Welcome lulu Lourm</h1>
 <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<br>
<%= link_to t("about") , abouts_path%><br>
<%= link_to t("category") , categories_path%><br>
<%= link_to t("user") , users_path%><br>
<%= link_to t("post") , posts_path%><br>
<%= link_to t("admin") , admin_managements_path%>