<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.label :name, "TITLE" %>
    <%= f.text_field :name , :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "DESCRIPTION" %>
    <%= f.text_area :description , :class => "form-control"%>
  </div>
  <div class="form-group">
    <%= f.submit "ENTER", :class => "btn btn-primary "%>
  </div>
<% end %>
