<% subscription = @post.subscriptions.find_by_user_id(current_user) %>

<div id="subscription">
  <%= render :partial => "subscription", :locals => {:subscription => subscription} %>
</div>

<h1><%= @post.name %></h1>
<p>CATEGORY:
  <% @post.categories.each do |category| %>
      <%= category.name %>
  <% end %>
</p>
<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<% like = @post.likes.find_by_user_id(current_user) %>
<div id="like-area">
  <%= render :partial => "like", :locals => {:like => like} %>
</div>
<!--要怎麼, :url => user_profile_path(@post.user) 讓每個名字倒回頁面 ｉｄ要怎麼改-->

<p>瀏覽人次 : <%= @post.brower_people %></p>
<p><%= @post.description %></p>

<%= form_for @comment, :url => post_comments_path(@post), :remote => true do |f| %>
    <%= f.label :name, "Comment" %><br>
    <%= f.text_field :name %>
    <%= f.submit "Enter", :class => "btn btn-default" %>
<% end %>

<div id="comments-list">
  <% @comments.each do |comment| %>
      <p id="comment-<%= comment.id %>">
        <%= comment.name %>
        <%= link_to 'Delete', post_comment_path(@post, comment), :method => :delete, :class => "btn btn-danger", :remote => true %>
      </p>
  <% end %>
</div>
<%= link_to "POST LIST", posts_path %>
